
@use './global' as *;


button {
    font-family: $font-body;
    font-size: .85rem;
    padding: 0.1rem 1.5rem;
    border: 1px solid $color-highlight;
    background-color: transparent;
    color: $color-highlight;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin: 4px;

    &:hover {
        background-color: $color-highlight;
        color: white;
    }
}

label {
    color: $color-highlight;
    font-size: 0.9rem;
    font-family: $font-body;
    margin-bottom: 0.5rem;
}

.sub-label {
    color: $color-subtext;
}
h2 {
    font-family: $font-title;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    font-weight: $weight-normal;
}
h3 {
    font-family: $font-title;
    font-size: 1.2rem;
    font-weight: $weight-normal;
}

// img {
//     width: 100%;
// }


.width-large {
    width: 88%;
}


.sub-text {
    @include sub-text;
}

a {
    text-decoration: none;
    color: $color-highlight;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    .sub-text{
        @include sub-text;
    }
}