@use './global' as *;

.navbar {
  position: absolute;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: flex-start;
  padding: 16px 0px;
  // background-color: $color-bg; // prevent transparency over content

  .nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
    background-color: $color-bg;
    padding: 0 1.5rem;

    .nav-item {
      font-size: 0.85rem;

      a {
        text-decoration: none;
        color: $color-text;
        cursor: pointer;

        &.MainColorHighlight {
          color: $color-highlight;
        }

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0.8px;
          background-color: $color-highlight;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
