@use 'variables' as *;

.side-nav {
  position: fixed;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      transition: transform 0.5s ease, opacity 0.2s ease;

      a {
        font-size: 14px;
        font-family: $font-body;
        color: var(--main-color-subtext);
        text-decoration: none;
        transition: color 0.3s, 
        transform 0.3s;
        writing-mode: vertical-rl;
        padding: 40px 10px 40px 20px;

        &:hover {
          color: var(--main-color-highlight);
        }

        span {
          font-size: 16px;
          display: block;
        }
      }
    }

    &:hover li {
    //   transform: scale(0.95); // slightly shrink all items
        opacity: 0.4;
    }

    &:hover li:hover {
    //   transform: scale(1.1); // expand the hovered item
      z-index: 1;
      opacity: 1;
      transform: rotate(-90deg);
    }

    &:hover li.arrow-icon:hover  {
      transform: none;
    }
  }
}
