// variables.scss
// :root {
//   --main-color-bg: #FBFBFB;
//   --main-color-text: #272727;
//   --main-color-subtext: #767676;
//   // --main-color-highlight: #BC777A;
//   --main-color-highlight: #d05156;
// }

// Colors
$color-bg: #FBFBFB;
$color-text: #272727;
$color-subtext: #767676;
$color-highlight: #d05156;


// Font variables
$font-title: 'Spectral', serif;
$font-body: 'Mukta', sans-serif;

// Font weight
$weight-normal: 400;
$weight-bold: 600;


// Border radius
$radius: 8px;