@use 'variables' as *;
@use 'animations' as *;
.about-section {
  display: flex;
  justify-content: center;
  // padding: 4rem 2rem;
  min-height: 100vh;
  line-height: 1.5rem;

  .about-container {
      display: flex;
      // gap: 4rem;
      width: 100%;    
      margin: 0 224px;
      padding-top: 36px;
      gap: 6rem;
      align-items: center;
  }

  .about-image {
    display: flex;
    flex-direction: column;        
    align-items: flex-end;
    justify-content: center;
    line-height: 0.85rem;

    .portrait-img {
      width: 224px;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }

    .portrait-caption {
      font-size: 0.7rem;
      padding-right: 12px;
    }
  }

  .about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 96px;
    // margin-top: 96px;

  }
}



.about-image {
  animation: fadeSlideDown 0.8s ease-out both;
}
.section-block {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 0.8s ease-out forwards;
}

@media (max-width: 768px) {
  .about-section {
    
    .about-text {
      padding-right: 0;
      margin-top: 0;
    }

    
    .about-container {
      flex-direction: column;
      align-items: center;
      padding-top: 128px;
    }
  }

}