@use "variables" as *;

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .landing-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
  }

  .landing-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30vh;

    .landing-title {
      font-family: $font-title;    
      font-size: 2rem;
      letter-spacing: 1.5rem;
      color: var(--main-color-highlight);
      margin: 0;
    }

    .title-underline {
      margin-top: 1rem;
      width: 5rem;
      height: 0.4rem;
      background-color: var(--main-color-highlight);
    }
  }

  .landing-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 0.5rem;
    margin-top: 60vh;

    .landing-divider {
      width: 8rem;
      height: 1px;
      background-color: var(--main-color-subtext);
      margin-bottom: 1rem;
    }

    .landing-subtext {
      font-family: $font-body;
      font-size: 0.8rem;
      color: var(--main-color-subtext);
      letter-spacing: 0.1rem;

      &.highlight {
        color: var(--main-color-highlight);
        // font-style: italic;
      }
    }
  }
}
.landing-subtext.typewriter {
  font-family: $font-body;
  font-size: 0.8rem;
  color: var(--main-color-subtext);
  letter-spacing: 0.1rem;
  border-right: 2px solid var(--main-color-highlight);
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.75s step-end infinite;

  &.done {
    border-right: none;
    animation: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}