@use "variables" as *;

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .landing-container {
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .landing-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    inset: 0;
    img {
      // width: 68%;
      // top: 4%;
      height: 100%;
      left: 8%;
      position: absolute;
      object-fit: cover;   // ✅ fills container while keeping aspect ratio
      object-position: center;
    }
  }

  .landing-overlay{
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 40%;
    height: 100%;


    
    .landing-title {
      font-family: $font-title;    
      font-size: 2rem;
      // letter-spacing: 1.5rem;
      color: var(--main-color-highlight);
      margin: 0;
    }
  }
  @media (max-width: 1180px) {
    .landing-bg {
      img {
        left: 0%;
      }
    }
  }

  @media (max-width: 1024px) {
    .landing-bg {
      img {
        top: 4%;
        height: 80%;
        left: -20%;
        position: absolute;
      }
    }
    .landing-overlay{
      justify-content: flex-end;
      left: 0%;
      padding-bottom: 8vh;
    }
  }



  // .landing-left {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   margin-top: 30vh;


  //   .title-underline {
  //       margin-top: 1rem;
  //       width: 0;
  //       height: 0.4rem;
  //       background-color: var(--main-color-highlight);
  //       animation: expand-bar 1s ease-out forwards;
  //       animation-delay: 0.3s;
  //   }
  // }

  // .landing-right {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-end;
  //   text-align: right;
  //   gap: 0.5rem;
  //   margin-top: 12vh;


  //   .landing-divider {
  //       width: 8rem;
  //       height: 1px;
  //       background-color: var(--main-color-subtext);
  //       margin-bottom: 1rem;
  //   }

  //   .landing-subtext {
  //     font-family: $font-body;
  //     font-size: 0.8rem;
  //     color: var(--main-color-subtext);
  //     letter-spacing: 0.1rem;

  //     &.highlight {
  //       color: var(--main-color-highlight);
  //       // font-style: italic;
  //     }
  //   }
  // }
}
.landing-subtext.typewriter {
  font-family: $font-body;
  font-size: 0.8rem;
  color: var(--main-color-subtext);
  letter-spacing: 0.1rem;
  border-right: 2px solid var(--main-color-highlight);
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.75s step-end infinite;

  &.done {
    border-right: none;
    animation: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes expand-bar {
  from {
    width: 0;
  }
  to {
    width: 5rem;
  }
}