@use 'variables' as *;
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: flex-start;
  // padding: 1.5rem 2rem;
  padding: 20px;
  background-color: var(--main-color-bg); // to prevent transparency over content

  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;

    .nav-item {
      cursor: pointer;
      font-size: 1rem;
      color: var(--main-color-text);
      // font-family: $font-title;

      &.MainColorHighlight {
        color: var(--main-color-highlight);
      }
    }
  }
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 0.8px;
  background-color:var(--main-color-highlight);
  transition: width 0.3s ease;
}
.nav-item:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}