@use 'variables' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: flex-start;
  padding: 16px 28px;
  background-color: var(--main-color-bg); // prevent transparency over content

  .nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;

    .nav-item {
      font-size: 1rem;

      a {
        text-decoration: none;
        color: var(--main-color-text);
        cursor: pointer;

        &.MainColorHighlight {
          color: var(--main-color-highlight);
        }

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0.8px;
          background-color: var(--main-color-highlight);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
