// components/_sections.scss
@use 'variables' as *;
.section {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 4rem 2rem;
    // max-width: 960px;
    margin: 0 auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
//   gap: 6rem;

  .artwork {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 56%;
    justify-content: center;

    .project-image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 4px;
        display: block;
    }

    .image-fade-wrapper {
        position: relative;
        aspect-ratio: 16 / 9;
        width: 100%;
            
        .project-image {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.6s ease;
        }
        .default-img {
            z-index: 1;
            opacity: 1;
        }

        .hover-img {
            z-index: 2;
        }

        &:hover .hover-img {
            opacity: 1;
        }

        &:hover .default-img {
            opacity: 0;
        }
    }
    
    .project-link {
        text-decoration: none;
        display: block;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.03);
        }

    }

    .image-placeholder {
      background-color: #ccc;
      aspect-ratio: 16 / 9;
      width: 100%;
      border-radius: 4px;
    }

    .caption {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      flex-wrap: wrap;
      align-items: center;

    }
  }
}


.title {
  font-weight: $weight-normal;
  font-family: $font-title;
  font-size: 1.25rem;  
  transition: color 0.3s ease;
  margin-bottom: 0.5rem;

}
.artwork:hover .title {
  color: var(--main-color-highlight);
}
.ml-card:hover .title {
  color: var(--main-color-highlight);
}
.tools {
  font-weight: $weight-normal;
  color: var(--main-color-subtext);
  font-size: 0.8rem;
}


// MLProjects Section

.ml-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  width: 100%;
  height: 70vh;
  justify-content: center;
}

.ml-card {
  background-color: white;
  padding: 24px;
  width: 56%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  }
}

.ml-title {
  font-family: $font-title;
  font-size: 20px;
  font-weight: $weight-normal;
  margin-bottom: 8px;
  color: var(--main-color-text);
}

.ml-subtitle {
  font-family: $font-body;
  font-size: 16px;
  color: var(--main-color-subtext);
}

.section-divider {
  width: 256px;
  height: 1px;
  background-color: var(--main-color-highlight);
  margin: 32px auto; // 8pt grid (8 × 8)
  opacity: 0.3;
}
@media (max-width: 768px) {
  .content-section .artwork {
    height: 30vh;
    min-height: 0;
  }
}