// utilities.scss
.MainColorText {
  color: var(--main-color-text);
}

.MainColorSubtext {
  color: var(--main-color-subtext);
}

.MainColorHighlight {
  color: var(--main-color-highlight);
}

.MainColorBackground {
  background-color: var(--main-color-bg);
}
