// variables.scss
:root {
  --main-color-bg: #FBFBFB;
  --main-color-text: #272727;
  --main-color-subtext: #767676;
  --main-color-highlight: #FF4A4A;
}
// Font variables
$font-title: 'Spectral', serif;
$font-body: 'Mukta', sans-serif;

// Font weight
$weight-normal: 400;
$weight-bold: 600;